mapsforge-poi-writer/src/main/resources/POICategoriesOsmosis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/test"
	lementFormDefault="qualified">

	<element name="category">
		<complexType>
			<sequence>
				<element ref="category" minOccurs="0" maxOccurs="unbounded">
				</element>
				<element ref="mapping" minOccurs="0" maxOccurs="unbounded"></element>
			</sequence>
			<attribute name="title" use="required"></attribute>
		</complexType>
	</element>

	<element name="mapping">
		<complexType>
			<attribute name="tag" use="required"></attribute>
		</complexType>
	</element>


</schema>
